@using StyleLink.Repositories.Interfaces
@using StyleLink.Services.Interfaces
@using StyleLink.Models
@using StyleLink.Constants
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IUserRepository UserRepository
@inject IImageConvertorService ImageConvertorService

<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary shadow mb-5 bg-white rounded">
    <div class="container justify-content-between">
        <div class="d-flex fw-bold">
            <a class="navbar-brand fs-3 mb-0 logo" asp-area="" asp-controller="Home" asp-action="Index">
                STYLE LINK
            </a>
        </div>
        <ul class="navbar-nav d-flex flex-row mb-0 fw-bolder align-items-center">
            @if (User.Identity.IsAuthenticated)
            {
                var user = await UserRepository.GetUserAsync(User.Identity.Name);
                var profileFileForm = await ImageConvertorService.ConvertByteArrayToFileFormAsync(new ImageDto()
                {
                    Name = user.ProfileImageName,
                    FileName = user.ProfileImageFileName,
                    Content = user.ProfileImage
                });
                var profileImage = await ImageConvertorService.ConvertFormFileToImageAsync(profileFileForm);

                <li class="nav-item">
                    <a class="nav-link gap-2 text-dark d-flex align-items-center" asp-area="" asp-controller="Appointments" asp-action="Appointments">
                        <icon class="bi bi-calendar3 fs-4"></icon>
                        <span>Programări</span>
                    </a>
                </li>

                @if (User.IsInRole(Roles.HairStylist))
                {
                    <li class="nav-item">
                        <a class="nav-link gap-2 text-dark d-flex align-items-center" asp-area="" asp-controller="Appointments" asp-action="HairStylistAppointments">
                            <icon class="bi bi-calendar3 fs-4"></icon>
                            <span>HairStylist Programări</span>
                        </a>
                    </li>
                }

                <li class="nav-item dropdown">
                    <a class="nav-link gap-2 text-dark d-flex align-items-center" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="d-flex flex-column align-content-center justify-content-center" style="padding: 5.5px 0px 5.5px 11px;">
                            <img class="rounded-circle" width="25px" height="25px" src="@profileImage" alt="Profile Image"></img>
                        </div>
                        <span>@user.FirstName</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item gap-2 text-dark  d-flex align-items-center" asp-area="" asp-controller="Account" asp-action="Details">
                            <icon class="bi bi-person-circle fs-4"></icon>
                            <span>Contul meu</span>
                        </a>
                        @if (User.IsInRole(Roles.HairStylist))
                        {
                            <a class="dropdown-item gap-2 text-dark d-flex align-items-center" asp-area="" asp-controller="Appointments" asp-action="Appointments">
                                <icon class="bi bi-calendar3 fs-4"></icon>
                                <span>HairStylist Programări</span>
                            </a>
                        }
                        <a class="dropdown-item gap-2 text-dark d-flex align-items-center" asp-area="" asp-controller="Appointments" asp-action="HairStylistAppointments">
                            <icon class="bi bi-calendar3 fs-4"></icon>
                            <span>Programări</span>
                        </a>
                        <a class="dropdown-item gap-2 text-dark d-flex align-items-center" asp-area="" asp-controller="Favorite" asp-action="Favorite">
                            <icon class="bi bi-heart fs-4"></icon>
                            <span>Favorite</span>
                        </a>
                        <a class="dropdown-item gap-2 text-danger d-flex align-items-center" asp-area="" asp-controller="Account" asp-action="Logout">
                            <icon class="bi bi-box-arrow-right fs-4"></icon>
                            <span>Logout</span>
                        </a>
                    </div>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link gap-2 text-dark d-flex align-items-center" asp-area="" asp-controller="Account" asp-action="Login">
                        <icon class="bi bi-person-circle fs-4"></icon>
                        <span>Contul meu</span>
                    </a>
                </li>
            }

        </ul>
    </div>
</nav>
