<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary shadow p-3 mb-5 bg-white rounded">
    <div class="container justify-content-between">
        <div class="d-flex fw-bold">
            <a class="navbar-brand fs-2 mb-0 logo" asp-area="" asp-controller="Home" asp-action="Index">
                STYLE LINK
            </a>
        </div>
        <div class="d-flex fs-5 mb-0 fw-bolder">
            <a class="nav-item nav-link gap-2 text-dark d-flex align-items-center" asp-area="" asp-controller="Appointments" asp-action="Appointments">
                <icon class="bi bi-calendar3 fs-3"></icon>
                <span>Programări</span>
            </a>
            @{
                var action = string.Empty;
             }
            
            @if (false) //user is authenticated
            {
                action = "Details";
            }
            else
            {
                action = "Login";
            }
            <a class="nav-item nav-link gap-2 text-dark d-flex align-items-center" asp-area="" asp-controller="Account" asp-action=@action>
                <icon class="bi bi-person-circle fs-3"></icon>
                <span>Contul meu</span>
            </a>
        </div>
    </div>
</nav>
