<div class="d-flex flex-column gap-2 fs-5">
    <a href="https://www.facebook.com/popescu.madalin0/" target="_blank" class="d-flex flex-row gap-4 text-decoration-none text-muted">
        <i class="bi bi-facebook"></i>
        <span>Urmărește-ne pe Facebook</span>
    </a>
    <a href="https://www.instagram.com/popescu.madalin0/" target="_blank" class="d-flex flex-row gap-4 text-decoration-none text-muted">
        <i class="bi bi-instagram"></i>
        <span>Urmărește-ne pe Instagram</span>
    </a>
    <a asp-area="" asp-controller="Information" asp-action="TermsAndConditions" target="_blank" class="text-decoration-none text-muted">
        <span>Termeni și condiții</span>
    </a>
    <a asp-area="" asp-controller="Information" asp-action="AboutUs" class="text-decoration-none text-muted">
        <span>Despre noi</span>
    </a>
</div>