html {
    font-size: 14px;
    font-family: 'Open Sans' !important;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    body {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-size: 14px;
    font-family: 'Open Sans' !important;
    color: var(--bs-dark-rgb)
}

.logo {
    text-shadow: 0px 0px 0.1px black !important;
    font-family: "Cormorant", Open Sans !important;
    color: var(--bs-blue-color) !important;
}

.custom-container-sm {
    max-width: 540px;
}

.dropdown-item:active {
    background-color: #E0E0E1;
}

.blue-background-color {
    color: white;
    background-color: var(--bs-blue-color);
}

.blue-background-color:hover{
    color:white;
    background-color: var(--bs-dark-blue-color)
}