:root {
    --bs-body-color: #dee2e6;
    --bs-blue-color: #080de0;
    --bs-rating-color: #ffb900;
    --bs-dark-blue-color: #0003A5;
    --bs-gray-color: #fafafa;
    --bs-gray-description-color: #efd4c3;
}
