@model StyleLink.Models.AppointmentDetailModel
@{
    ViewData["Title"] = "Programări";
    ViewData["HasFooter"] = false;
}
<div class="d-flex justify-content-center">
    <div class="d-flex flex-row w-100">
        <div class="card">
            <div class="card-body">
                <h1>Details</h1>
                @*todo:card*@
            </div>
        </div>
        <div class="flex-grow-1">
            <div class="position-sticky" style="height: calc(-200px + 100vh);">
                <iframe src="@Url.Content(Model.MapsUrl)" width="100%" height="100%" style="border: 0;" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>